body {
  margin-left: 30px;
}

/* Animation keyframes - you need to add prefixes */
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Loading animation container */
.loading {
  position: relative;
  width: 130px;
  height: 130px;
  line-height: 200px;
  color: white;
  border-radius: 50%;
  background-color: #CCCCCC;
  border: 6px solid black;
}

/* Inner blue circle */
.loading .maskedCircle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: lightblue;
}


/* This hides the other piece of the circle */
.mask {
  margin-left: 15px;
  width: 20px;
  height: 20px;
  /* overflow: hidden; */
}

/* This is the size of the outerloop that the circle does */
.loading .spinner {
  position: relative;
  left: 5px;
  top: 5px;
  width: 110px;
  height: 110px;
  animation: spin 8s infinite linear;
  align-content: center;
}

/* .loading:after {
  position: absolute;
  content: '';
  top: 4px;
  left: 4px;
  height: calc(100% - 8px);
  width: calc(100% - 8px);
  border-radius: inherit;
  background: brown;
  z-index: -1;
} */

/*
.loading.white:after {
  top: 0px;
  left: 0px;
  border: 4px solid white;
} */




