.App-header {
  margin-left: 41%;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    /* z-index: -1; */
    /* border: solid 1px red; */
}
/* To keep everything contained */
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 300px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: transparent;
    /* z-index: -1; */
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 10px solid grey;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    background-color: transparent;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    background-color: transparent;
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}






/* STOP WATCH */
.stopwatch {
  padding-top: 50px;
  text-align: center;
  background-color: transparent;
}

.stopwatch-timer {
  font-size: 76px;
  font-weight: 100;
  line-height: 160px;
  border-width: 1px 0;
  background-color: transparent;
}


/* LAPS */
.stopwatch-laps {
  padding: 0 0 0 20px;
  list-style-type: none;
}

.stopwatch-lap {
  font-size: 20px;
  line-height: 60px;
  padding-right: 20px;
  text-align: right;
  border-bottom: 1px solid #d9dae0;
}

.stopwatch-lap strong {
  float: left;
  color: #7f8083;
  font-weight: 100;
}

.stopwatch-lap strong::before { content: 'Lap ' }


/* BUTTONS */
.btn {
  font-family: inherit;
  font-size: 20px;

  display: inline-block;

  width: 72px;
  height: 72px;
  margin: 24px;
  padding-top: 60px;

  cursor: pointer;
  letter-spacing: 1px;

  border: 0;
  border-radius: 50%;
  outline: none;
  background: transparent;
}


.start-btn {
  color: #4bd761;
}
.stop-btn  {
  color: #fd3d2a
}

